<!DOCTYPE html>
<html>
<head>
    <title>Angular Laravel User Form</title>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="laravel-user-form.js"></script>

    <link rel="stylesheet" type="text/css" href="laravel-user-form.css">

    <script>
        angular.module('app', ['wm.laravel.user-form'])

        .controller('AppController', function ($scope) {

            $scope.niveis = [
                {
                    id: 1,
                    nome: 'Admin'
                }
            ];

            $scope.user = {
                id: 1,
                nome: 'Wallace',
                username: 'wallacemaxters@gmail.com'
            };

            $scope.onSaved = function () {

                alert('Salvou!')
            }
        })
    </script>
</head>
<body ng-app="app">
    
    <div ng-controller="AppController">
        <laravel-user-form action="/user/{{ ::user.id}}" user="user"></laravel-user-form>    
    </div>

</body>
</html>