.laravel-user-form, .laravel-user-form *{
    box-sizing: border-box;
}
.laravel-user-form{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.laravel-user-form > .input-group{
    margin: 10px 0;
}

.laravel-user-form > .input-group label{
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
}

.laravel-user-form > .input-group input[type="email"],
.laravel-user-form > .input-group input[type="text"],
.laravel-user-form > .input-group input[type="password"],
.laravel-user-form > .input-group select {

    width: 100%;
    border: 1px solid #ccc;
    padding: 0 10px;
    min-height: 35px;
    border-radius: 4px;
    outline: none;
}

.laravel-user-form > .input-group.has-error input{
    box-shadow: 0 0 4px red;
}

.laravel-user-form .user-btn{

    background-color: #049;
    border: 1px solid #049;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    min-height: 35px;
    cursor: pointer;
    outline: none;
}

.laravel-user-form .user-btn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.laravel-user-form .user-btn:active{
    transform: translateY(1px);
}