<form ng-submit="$ctrl.save()" ng-class="formClass ? formClass : 'laravel-user-form'" name="$ctrl.formUser">

    <div class="input-group" ng-class="{'has-error' : $ctrl.formUser['nome'].$invalid && $ctrl.formUser['nome'].$dirty}">
        <label>
            Nome:
        </label>
        <input type="text" name="nome" ng-model="$ctrl.user.nome" required>
    </div>

    <div class="input-group" ng-class="{'has-error' : $ctrl.formUser['username'].$invalid && $ctrl.formUser['username'].$dirty}">
        <label>
            Login/E-mail
        </label>
        <input type="email" name="username" ng-model="$ctrl.user.username" required>
    </div>

    <div class="input-group" ng-class="{'has-error' : $ctrl.formUser['password'].$invalid && $ctrl.formUser['password'].$dirty}">
        <label>
            Senha:
        </label>
        <input type="password" name="password" ng-model="$ctrl.user.password" required>
    </div>

    <div class="input-group" ng-class="{'has-error' : $ctrl.formUser['password_confirm'].$invalid && $ctrl.formUser['password_confirm'].$dirty}">
        <label>
            Confirmar Senha:
        </label>
        <input type="password" name="password_confirm" ng-model="$ctrl.user.password_confirm" required>
    </div>

    <div  class="input-group" style="text-align: right;">
        <button type="submit" ng-disabled="$ctrl.formUser.$invalid" class='user-btn'>
            <span ng-if="$ctrl.save.busy">
                <i class='fa fa-spin fa-refresh'></i>
            </span>
            Salvar
        </button>
    </div>

</form>